/*

  Lists

  Base list element and list classes styles
  
*/

ul, ol {
  margin-top: 0;
  @include margin-trailer(1);
}

// Definition lists

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}


// Bordered List Style

.border-list, %border-list {
  padding: 0;
  list-style: none;
  li {
    border-bottom: 1px solid $grey;
    &:last-child {
      border-bottom: none;
    }
  }
}

.menu-list, 
.list--unstyled,
.block-list {
  list-style: none;
  padding: 0;
}

.menu-list {

  line-height: 1;
  li {
    margin:$base-spacing-unit $base-spacing-unit;
  }

  a:not(.btn) {
    color:white;

    &:hover {
      color:$grey;
    }
  }

  // .btn {
  //     position:relative;
  //     right:-$base-spacing-unit;
  // }

}

.block-list-label {
  display: none;
  // background-color:white;
  // color:$darker-grey;
  // margin-left: $base-spacing-unit;
  // display: inline-block;
  // vertical-align: bottom;
  // padding:$base-spacing-unit/4 $base-spacing-unit/2;
  // text-align: center;
  // float: right;
  // display: block;
  // margin: auto;
}

.block-list {
  
  a {

    border:2px solid;
    border-bottom:0; 
    display: block;
    padding:$base-spacing-unit/2 $base-spacing-unit;
    color:white;
    transition: background-color $transition-default;

    &:after {
      // @extend %full-cover;
      // @include z-index(-1,fixed);
      // content:'';
      // background-color: currentColor;
      // opacity: .2;
    }

    &:hover {
      background-color: white;
      border-color:white;
      color:$darker-grey;
    }

  }

  li:last-child a {
    border-bottom:2px solid;
  }

}

.block-list__bg {
  @extend %full-cover;
  @include z-index(-1,fixed);
  background-size:cover;
  background-position: top;
  opacity: 0;
  transform:scale(1.025);
  transition:all $transition-default;
  pointer-events: none;

  a:hover & {
    transition-delay: 0.1s;
    opacity: .2;
    transform:scale(1);
  }
}
