/*

  Media

  Base styles for media elements (images,video,etc)
  
*/

img, media, iframe, svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  display: block;
  margin: auto;
}

.iframe-wrap,
.img-wrap-inner {
  @include z-index(0);
  padding-bottom: 56%;
  // Sets a default ratio for the height of the iframe (56% of the iframe's width)
  iframe,
  img {
    @extend %full-cover;
    position: absolute;
  }
}

.img-wrap {
  display: block;
  position: relative;
  z-index: 0;
  vertical-align: top;
  width:100%;

  img {
    position: absolute;
  }
}

.img-wrap--left {
  margin-left:0;
}

.img-wrap--right {

}

video {
  display: block;
  width: 100%;
}

figure {

}

figcaption {
  display: block;
  text-align: center;
  font-size: $small-font-size;
  font-family: $serif-font;
  font-style: italic;
  margin-top: $base-spacing-unit/2;
  padding-left: $base-spacing-unit;
  padding-right: $base-spacing-unit;
}

// #hero-canvas {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
// }

