/*

  Typography

  Base typographic styles
  
*/


@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Sailec-Regular.woff2') format('woff2'),
  url('../fonts/Sailec-Regular.woff') format('woff');
  font-weight: normal;
}   

@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Sailec-Bold.woff2') format('woff2'),
  url('../fonts/Sailec-Bold.woff') format('woff');
  font-weight: bold;
}   

html {
  font-size: $base-font-size*.8;
  font-weight: 400;
  line-height: $base-line-height / $base-font-size;
  color: $body-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -.02em;

  @include mq-min($bp-xl) {
    font-size:$base-font-size;
  }
}

body {
  font-family: $body-font-family;
  
  &.fonts-loaded {
  }
}

*::selection {
  background: $body-color;
  color: white;
}

// Attach a JSON object of media query values to be made available to JS
head {
  font-family: $bp-array;
}

.icon {
  @extend [class*=" icon-"];
}

[data-target] {
  cursor: pointer;
}

/**
 * $LINKS
 */

a,
.link-plain {
  transition: color $transition-default;
  font-weight: bold;
  font-family: $heading-font-family;
}

a {
  text-decoration: none;
  color: $body-color;
  
  &:hover {
    // color: black
  }

  //remove the dotted outline on firefox
  &:focus, &:active {
    outline: none;
  }
}

a, i {
  -webkit-tap-highlight-color: transparent;
}

.link-plain:not(:hover) {
  color: $body-color;
}

.link-plain {
  a:hover & {
    color: $body-color;
  }
}

.link-underline {
  @include link-underline;
}

.link-linkedin {
  color: $linkedin;
}

.link-twitter {
  color: $twitter;
}

.link-github {
  color: $github;
}

.link-briteweb {
  color: $briteweb;
}

.link-white,
.link-twitter-white,
.link-linkedin-white,
.link-github-white {
  color: white;
}

.link-secondary {
  color: $color-secondary;
}

%heading-style {
  margin-top: 0;
  column-span: all;
  @include margin-trailer(1);
}

%heading-font {
  font-weight: bold;
  font-family: $heading-font-family;
}

/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  @extend %heading-style; 
  a,
  a:visited {
    text-decoration: none;
  } 
}

h1, h2, h3, h4, h5, h6 {
  @extend %heading-font;
}

// Using a Major Third Scale
// Change the multipliers to create your own scale that suits the project
h1, .alpha {
  @include font-size($h1-font-size, $h1-line-height);
  
  @include mq-max($bp-sm) {
    @include font-size($h1-font-size-sm, false);
  }
}

h2, .beta {
  @include font-size($h2-font-size, $h2-line-height);

  @include mq-max($bp-sm) {
    @include font-size($h2-font-size-sm, false);
  }

  @include mq-max($bp-xs) {
    @include font-size($h2-font-size-xs, false);
  }
}

h3, .gamma, .gamma-size {
  @include font-size($h3-font-size, $h3-line-height);
  
  @include mq-max($bp-sm) {
    @include font-size($h3-font-size-sm, false);
  }
}

h4, .delta, .lead{
  @include font-size($h4-font-size, $h4-line-height);
  
  @include mq-max($bp-sm) {
    @include font-size($h4-font-size-sm, false);
  }
}

h5, .epsilon, .epsilon-size {
  @include font-size($h5-font-size, $h5-line-height);
}

h6, .zeta {
  @include font-size($h6-font-size, $h6-line-height);
}

p, blockquote,
pre, dl {
  @include margin-trailer(1);
  margin-top: 0;

}

p + p {
  break-inside: avoid;
}

/**
 * $PARAGRAPHS
 */
p,
%p {
}

.p-max {
  max-width: $container-sm-lg-max;
}

/**
 * The `.lead` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger.
 */
.lead, %lead {
  position: relative;
  margin-left: -$base-spacing-unit / 2;
  margin-right: -$base-spacing-unit / 2;

  @include mq-min($bp-md) {
    margin-left: -$base-spacing-unit;
    margin-right: -$base-spacing-unit;
  }
}

.serif {
  font-family: $serif-font;
  font-weight: normal;
}

/**
 * $QUOTES
 */
blockquote {
  @include font-size($h3-font-size, false);
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;

  > *:last-child {
    margin-bottom: 0;
  }

  cite {
    margin: 0;
    font-style: italic;
  }
}

.strong {
  font-weight: bold;
  font-family: $heading-font-family;
}

small, .small {
  @include font-size($h5-font-size, $h5-line-height);
  display: inline-block;
  vertical-align: baseline;
}

.tiny {
  @include font-size($h6-font-size, $h6-line-height);
}

/**
 * Line Break
 */

hr {
  border:none;
  border-top:1px solid $light-grey;
  margin: $base-spacing-unit*2 0;
}

q {
  font-style: italic;
}

mark {
  color: $body-color;
  background-color: $yellow;
}

pre {
  padding: $base-spacing-unit;
  border-radius: $base-border-radius;
  margin-right: -$base-spacing-unit * 2;
  margin-top: $base-spacing-unit * 2;
  margin-bottom: $base-spacing-unit * 2;
}

pre, code {
  font-family: 'courier new', monospace;
  overflow: auto;
  font-size: 0.7rem;
  line-height: 1.5;
}

.label {
  @extend .small;
  @extend .serif;
  display: block;
  font-style: italic;
}

.tab-label {
  @include font-size($small-font-size, $small-font-size);
  position: relative;
  z-index: 120;
  display: block;
  max-width: 7rem;
  white-space: nowrap;
  margin-top: -$base-spacing-unit * 1.5;
  margin-bottom: -1rem;
  padding: $base-spacing-unit/4 $base-spacing-unit/4;
  line-height: $base-spacing-unit;
  bottom: -.4rem;
  text-align: center;
  background:$body-color;
  color:white;
}

.tab-label--right {
  margin-right: 0;
  margin-left: auto;
}

.tag {
  @include font-size($h6-font-size, $h6-font-size);
  font-weight: bold;
  display: inline-block;
  margin-bottom: $base-spacing-unit/4;
  vertical-align: bottom;
  padding:  $base-spacing-unit/6 $base-spacing-unit/4;
  white-space: nowrap;
  border-radius: $base-border-radius;
  background: $body-color;
  color: white;
}

@font-face {
  font-family: 'icomoon';
  src:    url('../fonts/icomoon.eot');
  src:    url('../fonts/icomoon.eot') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.icon-envelope {

  &:before {
    content: "\e900";
  }

  &:hover {
    color: $color-primary;
  }
}
.icon-twitter {

  &:before {
    content: "\e902";
  }

  &:hover {
    color: $twitter;
  }
}
.icon-linkedin {

  &:before {
    content: "\e903";
  }

  &:hover {
    color: $linkedin;
  }
}


