{# <section class="tiles text-center">
  href="/" class="hero tile one-half gamma-size">
    Work
  </a>
  
  <div>
  </div>
  <a href="/about" class="hero tile gamma-size">
    About
  </a>
</section> #}