<section class="tiles">
  <div class="tile">
    <div class="container mtb-1--f">
      <p class="lead">Hi, I’m name is Felipe, <br> Front End Developer & UX lover. <br> You can follow me on <a class="link-twitter" href="#">Twitter</a></p>
    </div>
  </div>
</section>