<section class="tiles text-center">
  <a href="/" class="hero tile one-half gamma-size">
    Work
  </a>

  <a href="/about" class="hero tile one-half gamma-size" style="border-left: 1px solid #e5e5e5;">
    About
  </a>
</section>