<section class="hero">
  
  <div class="hero__bg"></div>

  <div class="hero__body  text-center">
    <div class="container container--sm-lg">
      <h2 class="alpha">Selected Work</h2>
      <p>I’ve had the pleasure to work with some amazingly talented people, building clean & fast responsive websites. Here’s a modest collection of such work.</p>
      <a href="{{ post_work.get_permalink }}" class="btn btn--cta btn--secondary">View All Projects</a> 
    </div>
  </div>
</section>