<section class="hero hero--dark">
  <div class="hero__body  text-center">
    <div class="container container--md">
      <h3 class="beta">Let’s make something awesome</h3>
      <p class="serif lead">Do you think I’d be a good fit for your next project?</p>
      <a href="/contact" class="btn btn--cta btn--secondary">Get in Touch</a>
    </div>
  </div>
</section>