<section class="hero hero--dark hero--fluid">
  <div class="hero__body">
    <div class="container container--sm text-center">
      <p class="gamma">Do you think i'd be a good fit for your next project? <br> Let's grab a coffee &amp; talk about what I can do for you.</p>
      <a href="#" class="btn btn--cta btn--secondary">Get in Touch</a>
    </div>
  </div>
</section>