<section class="hero hero--dark">
  <div class="hero__body  text-center">
    <div class="container container--md">
      <h3 class="beta">Follow me on Twitter</h3>
      {# <p class="serif lead">Probably the easiest wa</p> #}
      <a href="/contact" class="btn btn--cta btn--secondary">Get in Touch</a> 
    </div>
  </div>
</section>