<section class="hero hero--cta">
  <div class="hero__body  text-center">
    <div class="container container--sm">
      <h3 class="beta">Want to get in touch?</h3>
      <p>If you have something important to say to me, the button below is probably your best bet.</p>
      <a href="/contact" class="btn btn--cta btn--secondary">Contact me</a> 
    </div>
  </div>
</section>