<footer class="site-footer" role="contentinfo">
  <div class="container">
    <p class="mb-05 text-center"><small>© {{ "now"|date('Y') }} {{ bloginfo('name') }}.</small></p>
    <ul class="nav nav--social text-center">
      <li><a href="#" class="icon-envelope"></a></li>
      <li><a href="#" class="icon-twitter"></a></li>
      <li><a href="#" class="icon-linkedin"></a></li>
    </ul>
  </div>
</footer><!-- .site-sub-footer -->