<nav id="navigation" class="dinner-menu">
  <div class="dinner-menu__inner">

    <section class="hero hero--vert hero--darker">
      <div class="hero__body">

        <div class="container">
          <div class="grid grid--block">
            <div class="grid__item one-half">

              <small class="block-list-label">Projects</small>
              
              <ul class="block-list">
                {% for project in projects %}
                <li>
                  <a href="{{ project.get_permalink }}">{{ project.title|striptags }}
                    <div class="block-list__bg"  data-style="background-image: url({{ project.get_field('nav_image').url }})">
                    </div>
                  </a>
                </li>
                {% endfor %}
              </ul>


            </div><!--
           --><div class="grid__item two-fifths float-right">
              <ul class="menu-list mt-1">
                <li><a href="#">About</a></li>
                <li><a href="#">Writing</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>

            </div>
          </div>
        </div>

      </div>
    </section>
    
  </div>
</nav>