<header id="site-nav" class="site-header is-compressed">

  <a href="/" class="site-branding">
    <div class="site-branding__logo">
      {{ '/img/fa-logo.svg'|assets_uri|file_content }}
    </div>
  </a>
  
  <button class="btn btn--toggle site-header__toggle js-nav-toggle" data-target="navigation">
    <span></span>
    <span></span>
    <span></span>
    <span></span>    
  </button>

</header>

{% include('includes/header-nav.twig') %}



        