<nav id="navigation" class="dinner-menu">
  <div class="dinner-menu__inner">

    <section class="hero hero--vert hero--darker">

      <div class="container container--sm container--tight">
        <div class="grid">
          {% spaceless %}
          <div class="grid__item grid__item--main-menu">
            <ul class="menu-list">
              {% for item in menu.get_items %}
                <li><a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endspaceless %}
        </div>
      </div>
    </section>
    
  </div>
</nav>