<nav id="navigation" class="dinner-menu">
  <div class="dinner-menu__inner">

    <section class="hero hero--vert hero--darker">
      <div class="hero__body">

        <div class="container">
          <div class="grid grid--block">
            <div class="grid__item one-half">

              <small class="block-list-label">Projects</small>
              
              <ul class="block-list">
                <li>
                  <a href="#">6S Marketing
                  </a>
                </li>
              </ul>

              <div class="block-list">
              </div>

            </div><!--
           --><div class="grid__item two-fifths float-right">
              <ul class="menu-list text-center mt-2">
                <li><a href="#">About</a></li>
                <li><a href="#">Writing</a></li>
              </ul> 
              <ul class="menu-list text-center mt-2">
                <li><a href="#" class="btn btn--wide btn--squared">Contact</a></li>
              </ul>

            </div>
          </div>
        </div>

      </div>
    </section>
    
  </div>
</nav>