<div class="hero hero--listing">
  <div class="container container--md text-center mb-0--lc">
    <h1 class="mb-025">{{ post.post_title }}</h1>  
    <div class="epsilon">{{ post.post_content }}</div>
  </div>
</div>