<ul class="mtb-2 nav nav--social">
  {# <li>
    <a href="{{ site_settings.resume.url }}" target="_blank" class="link-underline">Résumé</a>
  </li> #}
  
  <li>
    <a href="mailto:{{ site_settings.site_email_address }}" class="link-underline">Email</a>
  </li>
  
  <li>
    <a href="{{ social.twitter }}" target="_blank" class="link-twitter">Twitter</a>
  </li>
  
  <li>
    <a href="{{ social.linkedin }}" target="_blank" class="link-linkedin">Linkedin</a>
  </li>
</ul>
