<ul class="mtb-3 nav nav--social">
  
  <li>
    <a href="mailto:{{ site_settings.site_email_address }}" class="link-underline">Email</a>
  </li>
  
  <li>
    <a href="{{ social.twitter }}" target="_blank" class="link-underline link-twitter">Twitter</a>
  </li>
  
  <li>
    <a href="{{ social.linkedin }}" target="_blank" class="link-underline link-linkedin">Linkedin</a>
  </li>


  <li>
    <a href="{{ social.github }}" target="_blank" class="link-underline link-github">Github</a>
  </li>
</ul>
