<section class="page-section mtb-1--f container" data-scroll-section>

  <figure class="browser-shot browser-shot--video">
    {{ macros.video({
      mp4: layout.video_mp4,
      webm: layout.video_webm
    }) }}
  </figure>

  {% if layout.caption %}
    <figcaption>
      {{ layout.caption }}
    </figcaption>
  {% endif %}

</section>