<h3 class="mt-3 mb-0">Skills</h3>

<ul class="border-list">
  <li>Pixel perfect HTML5 & CSS3</li>
  <li>Functional and OO Javascript (ES6)</li>
  <li>Javacript Frameworks <span class="ib">(React, Redux, Angular)</span></li>
  <li>Front End Automation tools <span class="ib">(Gulp, Browserify)</span></li>
  <li>Custom Wordpress & PHP development</li>
  <li>Interaction & User Experience Design</li>
</ul>