<a href="{{ listing_link.link }}" class="tile tile--link">
  <span class="tile__bg"></span>

  <div class="tile__container text-center">
    <button class="btn btn--sm btn--tile">
      {{ listing_link.label }}
    </button>
  </div>
</a>