{% extends "layouts/base.twig" %}

{% block content %}
  <section class="hero hero--vert">
    <header class="container container--md text-center">
      <h1>Oops! Looks like there’s nothing here.</h1>
      <p><a href="/" class="btn">Take Me Home, Please!</a></p>
    </header>
  </section>

{% endblock %}

{% block footer %}
{% endblock %}