{% extends "layouts/base.twig" %}

{% block masthead %}
  {% include 'includes/hero-standard.twig' %}
{% endblock %}

{% block content %}
  
  <section class="page-section page-section--about">

    <div class="container container--md mb-1--f">
      
      {% if post.post_lead %}
        <p class="post-lead">
          {{ post.post_lead }}
        </p>
      {% endif %}

      <div class="post-content">
        {{ post.content }}
      </div>
    </div>

  </section>

  {% include 'includes/project-listing.twig' with { 
    projects:[projects[0]],
    tab_label: 'Recent Work'
  } %}

{% endblock %}

{% block bottom %}
  {% include ('includes/cta.twig') %}
{% endblock %}