{% extends "layouts/base.twig" %}

{% block data %}
  data = {
    gf_contact_form: {{ gf_contact_form|json_encode }}

  }
{% endblock %}

{% block masthead %}
  {% include 'includes/hero-standard.twig' %}
{% endblock %}

{% block content %}

  <section id="form-wrapper" class="form-wrapper container container--md mb-1--f">

    <contact-form></contact-form>
    <div class="form-progress">
    </div>
  </section>

{% endblock %}

{% block bottom %}
  {% include ('includes/bottom-nav.twig') %}
{% endblock %}