{% extends "layouts/base.twig" %}

{% block data %}
  data = {
    formFields: {{ form_fields|json_encode }}

  }
{% endblock %}

{% block content %}
  
  <div class="hero hero--contact">
    <div class="hero__body">
      <div class="container container--sm-left">
        <h1 class="hero__heading">{{ post.post_title }}</h1>
        {{ post.content }}
      </div>
    </div>
  </div>
  <section id="form-wrapper" class="form-wrapper container mb-1--f">
    <form id="contact-form" action="">
    </form>

    <div class="form-progress">
    </div>
  </section>

{% endblock %}
