{% extends "layouts/base.twig" %}

{% block styles %}
  {{ macros.project_styles(projects) }}
{% endblock %}

{% block masthead %}

  <section class="hero">
    <div class="container">

      <h2 class="mb-0">Hello there, I&rsquo;m Felipe. </h2>
      <h1 class="beta">Vancouver based Front End Developer.</h1>

      <div class="grid lead mt-2 mb-1">
        <p class="grid__item one-whole md-one-half">
          I&rsquo;m currently working with the great folks at <a href="#" class="link-briteweb">Briteweb</a> doing awesome work in the non-for-profit sector.
        </p>  
        <p class="grid__item one-whole md-one-half">
           You can find me on <a href="#" class="link-linkedin">Linkedin</a> &amp; <a href="#" class="link-twitter">Twitter</a>.<br> If you have a project you think i&rsquo;d be a good fit for, <a class="link-underline" href="/contact">Get In Touch</a>
        </p>

        <p class="grid__item mt-1 one-whole">
          Here is a collection of projects I&rsquo;ve worked on, with roles ranging from:
            <b class="ib">Front End Development</b>,
            <b class="ib">Interaction Design</b> &amp;
            <b class="ib">Project Lead</b>
        </p>

      </div>
      
    </div>

  </section>

{% endblock %}

{% block content %}

  {% include 'includes/project-listing.twig' with { 
    projects: projects,
    tab_label: 'Recent Projects'
  } %}
  
{% endblock %}

{% block bottom %}
    
  {% include('includes/cta.twig') %}
    
{% endblock %}