.browser-shot {
  display: inline-block;
  max-width: 100%;
  // display: flex;
  // align-self: bottom;
  vertical-align: top;

  @include mq-max(560px) {
    margin-left: -$container-pad/2;
    margin-right: -$container-pad/2;
  }

  @include mq-min($bp-lg) {
    // margin-left:-$base-spacing-unit*2;
    // margin-right:-$base-spacing-unit*2;
  }

  img, video {
    box-shadow: $box-shadow-y-soft;
  }

  &:before {
    position: relative;
    content: '';
    display: block;
    padding-bottom: 4%;
    background-image: url(../img/browser-bar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom; 
  }
}

.browser-shot--video {
  margin: auto;
  width: 100%;
}

.browser-shot--scroll {
  transform: translate3d(0, 2%, 0);
  transition:transform $transition-slow, opacity $transition-slow;

  &.is-out {
    transform: translate3d(0, $base-spacing-unit, 0);
    opacity: 0;
  }
}