/*

  Nav

  Extend horizontal list to create a nav with padded items. 
  Offset the nav to keep alignment

 */

.nav, %nav {
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0;
  padding-left:0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 ($base-spacing-unit/6);

    @include mq-min($bp-sm) {
      padding: 0 ($base-spacing-unit/3);
    }
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    display: block;
    // padding:  $base-spacing-unit/4;
  }

}

// Use When the nav goes in with the content (ex: after an heading)
// Ex: <h4>title</h4>
//     <ul class="nav nav--inline"></ul>
.nav--inline {
  display: inline-block;
  @include margin-trailer(1);
}

.nav--split {
  margin-right: -$base-spacing-unit/4;

  li:last-child {
    float:right;
    text-align: right;
  }
}

.nav--social {
  text-align: center;

  li {
  }

  [class*=icon] {
  }
}