/*
  
  Tiles

*/

.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  border-top: $base-border;
  overflow: hidden;
  position: relative;
  z-index: 100;
  width:100%;
  transition: all $transition-slow;
}

.tile--dark {
  // border: none;
  // color: white;
}

.tile__bg {
  @include full-cover;
  position: absolute;
  z-index: 100;
  opacity: 0 ;
}

.tile__body {
  @extend .container;
  @extend .container--full;
  position: relative;
  z-index: 120;
  display: flex;
  flex-wrap: wrap;
}


.tile__title,
.tile__btn {
  transition:all $transition-default;
}

.tile__content,
.tile__img {

  vertical-align: middle;
}

.tile__content {
  align-self: center;
  width:  100%;
  padding: $base-spacing-unit*2 0 $base-spacing-unit*1.5;
  max-width: $container-xs-max;
  margin-left: auto;
  margin-right: auto;

  @include mq-min($bp-md) {
  padding: $base-spacing-unit*2 0;
    width: 40%;
  }
}

.tile__img {
  align-self: flex-end;
  width: 100%;
  max-width: $container-sm-max;;
  // padding-top: $base-spacing-unit;
  margin: 0 auto -1px;
  transform: translate3d(0, 0, 0);
  transition:all $transition-slow;
  transition-delay: .2s;

  @include mq-max($bp-md) {
    order: 2;
  }

  @include mq-min($bp-md) {
    padding-top: $base-spacing-unit*3;
    width: 50%;
  }

  .is-out & {
    transform: translate3d(0, $base-spacing-unit, 0);
    // opacity: 0;
  }

  .tile:nth-child(even) & {
    order: 2;
  }

  .tile.is-active & {
    opacity: 1;
    transform:translate3d(0,0,0);
  }

  .grid__item:last-child & {
    transform: translate3d(0, 0, 0);
  }
}

.tile__title {
  display: block;
  margin-bottom: $base-spacing-unit/4;
  // transform:translate3d(0,50%,0);
}

.tile__btn {
  // opacity: 0;
  // transform: translate3d(0,100%,0);

  .tile:hover & {
    // opacity: 1
  }
}

.tile__title,
.tile__btn {

  .tile:hover & {
    // transform: translate3d(0,0,0);
  }
}
